name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: install system
        run: |
          apt-get update
          apt-get install -y alsa-utils alsa-base pulseaudio libasound2 libasound2-plugins libportaudio2 python3-pip
          pip install sounddevice aubio numpy

      - name: setup dummy alsa device
        run: |
          # ALSAの設定確認（物理デバイスはない）
          aplay -l || true
          arecord -l || true

          # 仮想デバイスを作るための設定ファイルを追加
          cat <<'EOF' > /etc/asound.conf
          pcm.dummy {
              type hw
              card 0
          }
          ctl.dummy {
              type hw
              card 0
          }
          pcm.!default {
              type plug
              slave.pcm "null"
          }
          ctl.!default {
              type hw
              card 0
          }
          EOF

          # ALSAの状態を確認
          aplay -L
          arecord -L

      - name: build and test
        run: |
          export PULSE_SERVER=unix:/run/user/1001/pulse/native
          echo \"PULSE_SERVER=$PULSE_SERVER\" >> $GITHUB_ENV
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
