name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: install system
        run: |
          apt-get update
          apt-get install -y alsa-utils alsa-base libasound2 libasound2-plugins libportaudio2 python3-pip
          pip install sounddevice aubio numpy

      - name: Setup dummy ALSA device
        run: |
          # 仮想デバイス設定 
          cat <<'EOF' > /etc/asound.conf
          pcm.!default {
              type plug
              slave.pcm "null"
          }
          ctl.!default {
              type hw
              card 0
          }
          EOF

          # 確認（Optional）
          aplay -L || true
          arecord -L || true

      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
