name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: install system
        run: |
          apt-get update
          apt-get install -y libportaudio2 pulseaudio libsndfile1 python3-pip
          pip install sounddevice aubio numpy

      - name: start pulseaudio and create virtual mic
        run: |
          # 一時ユーザ runner を作成
          useradd -m runner

          # runner ユーザで PulseAudio を起動
          su - runner -c "
            pulseaudio --start --exit-idle-time=-1
            pactl load-module module-null-sink sink_name=fake_sink
            pactl load-module module-remap-source master=fake_sink.monitor source_name=fake_mic
            pactl list short sources
          "
      - name: build and test
        run: |
          export PULSE_SERVER=unix:/run/user/1001/pulse/native
          echo \"PULSE_SERVER=$PULSE_SERVER\" >> $GITHUB_ENV
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
